*.html
*.swp
*.h5

*.caffemodel
*.solverstate

eval/sorted/*
run/snapshot/*
run/snapshots/*
run/good/*
run/tmp/*
run/pspnet_prediction_tmp/*
vis/tmp/*
vis/tmp2/*
vis/color_mask/*
vis/single_annotations/*
vis/single_annotations_vis/*
vis/vis_ade20k/*
vis/vis_street_view/*

trash/*
